// Vartheme content (RTL) styling.
// -----------------------------------------------------------------------------
@import "../../../bootstrap/less/variables.less";  // Bootstrap variables.
@import "../../../bootstrap/less/mixins.less";     // Bootstrap mixins.
@import "../../variables.less";                    // Vartheme variables.
@import "../../mixins.less";                       // Vartheme mixins.

// Core variables and mixins imported from the latest original bootstrap.
// Mixins
// --------------------------------------------------
@import "../../../bootstrap-rtl/less/mixins/pagination-rtl.less"; // RTL
@import "../../../bootstrap-rtl/less/mixins/gradients-rtl.less"; // RTL
@import "../../../bootstrap-rtl/less/mixins/grid-framework-rtl.less"; // RTL
@import "../../../bootstrap-rtl/less/mixins/grid-rtl.less"; // RTL
// -----------------------------------------------------------------------------

// Insert your vartheme content (RTL) custom styling.

@font-face {
    font-family: GEDinarTwo-Medium;
    src: url(../../../fonts/dinar/GEDinarTwo-Medium.ttf);
}

body {
    font-family: GEDinarTwo-Medium;
}

.path-frontpage {
    .more-link {
        right: auto;
        left:0px;
        a{
            background: url(../../../images/arrow-left.png) #2D3A88 no-repeat;
            background-position: 50%;
        }
    }
    #block-views-block-events-block-1 {
        padding-bottom: 50px;
        .field--name-node-title {
            a {
                font-family: GEDinarTwo-Medium;
            }
        }
        .field--name-field-date {
            float: right;
        }
        .field--name-field-capacity {
            float: right;
        }
        .more-link {
            left: auto;
            right: 0px;
            a {
                background: url(../../../images/arrow-left.png) #2D3A88 no-repeat;
                display: inline-block;
                background-position: 5% 50%;
            }
        }

    }
    .front_content_3 {
        #block-views-block-offers-promotions-block-1 {
            .block-title {
                font-family: GEDinarTwo-Medium;
            }
            .form-group {
                .slick__arrow {
                    .slick-prev {
                        right: -3px;
                        &::before {

                            background: url(../../../images/slider-arrow-right.png) no-repeat;
                        }
                    }
                    .slick-next {
                        left: 9px;
                        &::before {
                            background: url(../../../images/slider-arrow-left.png) no-repeat;
                        }
                    }
                }
            }
        }
        #block-views-block-visiting-doctors-block-1 {
            .block-title {
                font-family: GEDinarTwo-Medium;
            }
            .form-group {
                .view-content {
                    .slick__arrow {
                        .slick-prev {
                            &::before {
                                background: url(../../../images/slider-arrow-right.png) no-repeat;
                            }
                        }
                        .slick-next {
                            &::before {

                                background: url(../../../images/slider-arrow-left.png) no-repeat;
                            }
                        }
                    }
                }
            }
        }
        #slick-views-visiting-doctors-block-1-3-slider {
            direction: ltr;
        }
    }
    .front_content_1 {
        #block-quicktabsfronttabs {
            ul.quicktabs-tabs {
                text-align: center;
                margin: 0;
                margin-bottom: -24px;
                li {
                    display: inline-block;
                    padding: 0;
                    padding: 0 3px;
                    a {
                        &::after {
                            margin-right: 5px;
                            margin-left: 0px;
                        }
                    }
                }
            }
            .quicktabs-main {
                .webform-submission-book-an-appointment-add-form {
                    .webform-telephone--wrapper {
                        legend {
                            float: right;
                        }
                    }
                }
                #views-exposed-form-find-a-doctor-find-doctor {
                    .form-actions button{
                        span {
                            display:none;
                        }
                    }
                }
            }
        }

    }
    .hero_slider {
        .counter {
            right: 30px;
            left: auto;
        }
        .slick__arrow {
            .slick-prev {
                right: 30px;
                left: auto;
                &::before {
                    background: url(../../../images/slider-arrow-right.png) no-repeat;
                }
            }
            .slick-next {
                left: 30px;
                right: auto;
                &::before {
                    background: url(../../../images/slider-arrow-left.png) no-repeat;
                }
            }
        }
    }
}
.green-button {
    a::after {
        content: "";
        background: url(../../../images/arrow-right-ar2.png) no-repeat;
        width: 38px;
        height: 10px;
        display: inline-block;
        background-position: 50%;
    } 
} 
.views-view-grid.horizontal   {
    > .row {
        .node--view-mode-horizontal-media-teaser-xsmall.node--type-events , .node--view-mode-horizontal-media-teaser-xsmall{
            .right {
                .field--name-field-date {
                    .field--item {
                        padding-right: 0px;
                        padding-left: 30px;
                    } 
                }
                .green-button {
                    float: left; 
                }
            }
        }
    }
}   
.taxonomy-term--view-mode-horizontal-media-teaser-xsmall {
    .green-button {
        float: left; 
    } 
} 
.field , label ,button{
    font-family: GEDinarTwo-Medium !important;
}
.bef-exposed-form {
    .form--inline > .form-item {
        margin-right: 0px;
        margin-left: 5px;
        float: right;
    }
}
.path-taxonomy {
    .green-button {
        right: auto;
        left: 20px;
    }
    .lang-ar {
        display:block;
    }
    .lang-en {
        display:none;
    }
    .field--name-dynamic-block-fieldtaxonomy-term-find-a-doctor {
        .field--label {
            right: 15px;
            left: auto;
        }
        .view-content {
            table {
                tbody tr td {
                    text-align: right;
                }
            }
        }
    }
    .views-exposed-form {
        width: 100%;
        float: left;
        .form--inline {
            text-align: left;
            float: left;
        }
    }
}
#block-chat {
    right: auto;
    left: 0;
}
#block-booknow {
    right: auto;
    left: 0;
}
.select-wrapper:after {
    right: auto;
    left: 0;
    padding-left: 10px;
}
.intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text], .intl-tel-input.allow-dropdown input[type=tel], .intl-tel-input.separate-dial-code input, .intl-tel-input.separate-dial-code input[type=text], .intl-tel-input.separate-dial-code input[type=tel]{
    padding-right: 52px;
    padding-left: 6px;
}
.intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.separate-dial-code .flag-container{
    right: 0;
    left: auto;
    direction: ltr;
}
.path-frontpage .front_content_1 #block-quicktabsfronttabs .quicktabs-main .webform-submission-book-an-appointment-add-form .form-item select, .path-frontpage .front_content_1 #block-quicktabsfronttabs .quicktabs-main .webform-submission-book-an-appointment-add-form .form-item input {
    text-align: right;
}
.form-actions .btn, .form-actions .btn-group {
    margin-left: 10px;
    margin-right: 0px;
}
.intl-tel-input .country-list .country {
    direction: rtl;
    text-align: right;
}
.path-webform {
    .main-container {
        form {
            fieldset {
                legend {
                    float: right;
                }
            } 
            .fieldset.webform-name--wrapper {
                .fieldset-wrapper {
                    width: 100% !important;
                    max-width: 100%;
                }
            }
            .form-actions {
                float: left;
                button {
                    margin-left: 0px;
                    margin-right: 10px;
                    &:after {
                        background: url(../../../images/arrow-right-ar2.png) no-repeat;
                        background-position: 50%;
                    }
                }
            }
        }
    }
}   
.path-webform .main-container form fieldset.webform-name--wrapper .fieldset-wrapper {
    width: 100% !important;
}
.page-node-type-branches .front_content_1 #block-quicktabsbranchestabs .quicktabs-main #views-exposed-form-find-a-doctor-find-doctor .form-actions button {
    span{
        display :none; 
    }

}
.page-node-type-branches {
    .front_content_3 {
        #block-views-block-offers-promotions-block-3 {
            .block-title {
                font-family: GEDinarTwo-Medium;
            }
        }
        #block-views-block-varbase-blog-block-1 {
            .block-title {
                font-family: GEDinarTwo-Medium; 
            } 
        }
    }
    .front_content_2 > .container #block-views-block-events-block-3 .field--name-node-title a,
    .front_content_2 > .container #block-views-block-news-block-3 .field--name-node-title a{
        font-family: GEDinarTwo-Medium;
    }
}   
.bx-wrapper .bx-viewport {
    direction: ltr;
}
.page-node-type-events {
    .field--item {
        font-family: GEDinarTwo-Medium !important;
    } 
    .main-container .field--name-body {
        padding-left: 15px;
        padding-right: 0px;
    }
}
.page-node-type-news {
    .main-container {
        .field--name-field-image img {
            float: left;
        }
    }
}  
.green-button a {
    direction: rtl;
}
#slick-views-partners-block-1-4 {
    direction: ltr;  
}
.page-node-type-varbase-blog {
    .main-container {
        .field--name-body {
            padding-left: 15px;
            padding-right: 0px;
        }
    }
}
.path-frontpage .front_content_3 #block-views-block-offers-promotions-block-1 .form-group .view-content #slick-views-offers-promotions-block-1-2-slider{
    direction: ltr;
}
body {
    .lang-ar {
        display:block;
    }  
    .lang-en {
        display:none
    }
        .android.ar{
        display:block;
    }
        .android.en{
        display:none;
    }
} 