// Vartheme header (RTL) styling.
// -----------------------------------------------------------------------------
@import "../../../bootstrap/less/variables.less";  // Bootstrap variables.
@import "../../../bootstrap/less/mixins.less";     // Bootstrap mixins.
@import "../../variables.less";                    // Vartheme variables.
@import "../../mixins.less";                       // Vartheme mixins.

// Core variables and mixins imported from the latest original bootstrap.
// Mixins
// --------------------------------------------------
@import "../../../bootstrap-rtl/less/mixins/pagination-rtl.less"; // RTL
@import "../../../bootstrap-rtl/less/mixins/gradients-rtl.less"; // RTL
@import "../../../bootstrap-rtl/less/mixins/grid-framework-rtl.less"; // RTL
@import "../../../bootstrap-rtl/less/mixins/grid-rtl.less"; // RTL
// -----------------------------------------------------------------------------

// Insert your vartheme header (RTL) custom styling.
header {
    .header-top {
        text-align: left;
        #block-topmenu {
            float: left;
            ul.menu {
                text-align: left;
                li {
                    border-left: 1px solid #FFF;
                    border-right: 0px solid #FFF;
                }
            }
        }
        #block-searchform {
            padding-left: 0px;
            padding-right: 7px;
            float: left;
            form {
                right: auto;
                left: 35px;
                .form-item {
                    button {
                        right: auto;
                        left: 0;
                    }
                }
            }
        }
        #block-socialicons-2 {
            float: right;
            .menu.nav {
                li {
                    display: inline-block;
                    &:first-child {
                        a {
                            border-left:  none;
                        }
                    }
                }
            }
        } 
    }
    .right {
        ul.menu {
            text-align: left;
            li{
                &:last-child {
                    a {
                        padding-left: 0;
                    }

                }
            } 
        }
    }
}

body {
    .hero_slider {
        #block-slidertextoverlay {
            text-align: left;
            p {
                &::before {
                    content: "";
                    background: url(../../../images/phone_white_ar.png) no-repeat;
                    margin-right: 0px;
                    margin-left: 5px;
                    background-size: contain;
                }
            }
        }
    }
}