// sgh header styling.
// -----------------------------------------------------------------------------
@import "../../bootstrap/less/variables.less";  // Bootstrap variables.
@import "../../bootstrap/less/mixins.less";     // Bootstrap mixins.
@import "../variables.less";                    // sgh variables.
@import "../mixins.less";                       // sgh mixins.
// -----------------------------------------------------------------------------

// Insert your sgh header custom LESS styling.
header {
    background: #FFF;
    .header-top {
        background: @green;
        text-align: right;
        padding-top: 10px;
        #block-topmenu {
            display: inline-block;
            ul.menu {
                text-align: right;
                width: 100%;
                li {
                    display: inline-block;
                    border-right: 1px solid #FFF;
                    line-height: 0px;
                    a{
                        color: #FFF;
                        font-size: 12px;
                        padding: 0 8px;
                        line-height: 14px;
                        &:hover,
                            &:focus {
                            background: transparent;
                        }
                    }
                }
            }
        }
        #block-languageswitcher {
            display: inline-block;
            ul.links {
                list-style: none;
                padding: 0;
                li {
                    a {
                        color: #FFF;
                        padding: 0 6px;
                    }
                    &.is-active {
                        display: none;
                    }
                }
            }
        }
        #block-searchform {
            display: inline-block;
            padding-left: 7px;
            form {
                max-width: 300px;
                position: absolute;
                right: 35px;
                top: -6px;
                display: none;
                .form-item {
                    margin: 0;
                    position: relative;
                    input {
                        width: 100%;
                        box-shadow: none;
                        border: 0;
                    }
                    button {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    .input-group {
                        width: 300px;
                    }
                }
            }
            .help-block {
                display: none;
            }
            .trigger-search {
                color: @white;
                cursor: pointer;
            }
        }
        #block-socialicons-2 {
            float: left;
            .menu.nav {
                li {
                    display: inline-block;
                    a {
                        padding: 7px;
                        font-size: 0;
                        color: #FFF;
                        padding-top: 0;
                        &::before {
                            font-family: FontAwesome !important;
                            font-size: 14px;
                        }
                        &:hover,
                            &:focus {
                            background: transparent;
                        }
                    }
                    &:first-child {
                        a {
                            border-right:  none;
                        }
                    }
                }
            }
        } 
    }
    .header-bottom {
        .left {
            a {
                margin-top: 24px;
                margin-bottom: 24px;
                img {
                    height: 40px;
                }
            }

        }
        .right {
            ul.menu {
                text-align: right;
                width: 100%;
                padding-top: 22px;
                li{
                    float:none;
                    display: inline-block;
                    a {
                        font-size: 13px;
                        font-weight: bold;
                        color: #000;
                        text-transform: uppercase;
                        transition: color 0.5s ease;
                        background: transparent;
                        &:hover,
                            &:focus {
                            color: @green;
                            background: transparent;
                        }
                    }
                    &:last-child {
                        a {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}

body {
    .hero_slider {
        top: 0;
        position: relative;
        .node--type-varbase-heroslider-media ,
        .node--type-branch-slider {
            .hero-slide-content{
                padding: 1.2em;
                z-index: 999;
                width: 100%;
                position: absolute;
                bottom: auto;
                top: 50%;
                transform: translateY(-50%);
                .row {
                    background: transparent !important;
                    .field {
                        padding: 1.2em;
                        color: #fff;
                    }
                    .field--name-node-title {
                        h2 {
                            font-size: 50px;
                        }
                        color: #FFF;
                        text-align: center;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-family: gothem;
                    }
                    .field--name-field-brief {
                        text-align: center;
                        font-size: 16px;
                    }
                    .field--name-field-link,
                    .field--name-field-call-to-action {
                        a {
                            display: block;
                            margin: 0 auto;
                            float: none;
                            width: 190px;
                            text-align: center;
                            background: #eb5f27d9;
                            padding: 13px;
                            font-size: 14px;
                            color: #FFF;
                        }
                    }
                }
            }
            img {
                width: 100%;
            }
        }
        #block-slidertextoverlay {
            position: absolute;
            top: 0;
            width: 100%;
            background: #464646e8;
            padding: 10px;
            text-align: right;
            z-index: 9999;
            p {
                padding:0 15px;
                font-size: 20px;
                font-weight: bold;
                color: #FFF;
                &::before {
                    content: "";
                    background: url(../../images/phone_white.png) no-repeat;
                    width: 17px;
                    height: 17px;
                    display: inline-block;
                    background-size: contain;
                    margin-right: 5px;
                }
            }
        }
    }

}