// sgh header styling.
// -----------------------------------------------------------------------------
@import "../../bootstrap/less/variables.less";  // Bootstrap variables.
@import "../../bootstrap/less/mixins.less";     // Bootstrap mixins.
@import "../variables.less";                    // sgh variables.
@import "../mixins.less";                       // sgh mixins.
// -----------------------------------------------------------------------------

// Insert your sgh header custom LESS styling.

.view-offers-promotions {
    .views-row {
        .wrapper{
            background: @bg-grey;  
            padding: 20px;
            .top {
                position: relative;
                .percentage {
                    position: absolute;
                    z-index: 999;
                    font-size: 50px;
                    top: 0;
                    color: @brand-primary;
                    font-weight: bold;
                    padding: 15px 25px;
                    span{
                        font-size: 16px;
                        text-transform: uppercase;
                        display: block;
                        position: absolute;
                        top: 70px;
                        left: 66px;
                        color:@green;
                    }
                } 
                .field--name-field-image {

                }
                .bottom-of-top {
                    position: absolute;
                    bottom: 0;
                    z-index: 999;
                    width: 100%;
                    .field--name-node-title {

                    }
                    .field--name-node-link {

                    }
                }

            }
            .bottom {
                clear: both;
            }
        }
    }
}