// sgh header styling.
// -----------------------------------------------------------------------------
@import "../../bootstrap/less/variables.less";  // Bootstrap variables.
@import "../../bootstrap/less/mixins.less";     // Bootstrap mixins.
@import "../variables.less";                    // sgh variables.
@import "../mixins.less";                       // sgh mixins.
// -----------------------------------------------------------------------------

// Insert your sgh header custom LESS styling.

.view-offers-promotions {
    .views-row {
        .wrapper{
            background: @bg-grey;  
            padding: 20px;
            .top {
                position: relative;
                .percentage {
                    position: absolute;
                    z-index: 999;
                    font-size: 50px;
                    top: 0;
                    color: @brand-primary;
                    font-weight: bold;
                    padding: 15px 25px;
                    span{
                        font-size: 16px;
                        text-transform: uppercase;
                        display: block;
                        position: absolute;
                        top: 70px;
                        left: 66px;
                        color:@green;
                    }
                } 
                .field--name-field-image {
                    background: black;
                    img{
                        -webkit-mask-image: linear-gradient(to top, transparent -3%, black 28%);
                        mask-image: linear-gradient(to top, transparent -3%, black 28%);
                        min-width: 100%;
                    }
                }
                .bottom-of-top {
                    position: absolute;
                    bottom: 15px;
                    z-index: 999;
                    padding: 0px 15px;
                    width: 100%;
                    .field--name-node-title {
                        h2{
                            font-size: 24px;
                            color: #fff;
                            font-weight: 600;
                            margin: 0;
                            @media (max-width: @screen-xs) {
                                font-size: 18px;
                                color: @brand-primary;
                                margin-bottom:10px;
                            } 
                        }
                    }
                    .field--name-node-link {
                        position: relative;
                        a{
                            display: block;
                            min-width: 100%;
                            background: @green;
                            color: #fff;
                            text-transform: uppercase;
                            font-weight: bold;
                            height: 30px;
                            text-align: center;
                            padding: 7px 0px;
                            &:after{
                                content:url(../../images/arrow-right.png);
                                position: absolute;
                                right: 10px;
                            }
                        }
                        @media (max-width: @screen-xs) {
                            max-width: 63%;
                        } 
                    }
                    @media (max-width: @screen-xs) {
                        position: relative;
                        bottom: 0;
                        padding: 12px 0px;
                    } 
                }

            }
            .bottom {
                clear: both;
                padding: 0px 30px;
                .field--name-field-date {
                    padding-top: 15px;
                    padding-bottom: 20px;
                    .field--item {
                        display: inline-block;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    .field--item:nth-child(1){
                        &:before{
                            content:"OFFER START";
                            color: @brand-primary;
                            display: block;
                        }
                    }
                    .field--item:nth-child(2){
                        float: right;
                        &:before{
                            content:"OFFER END";
                            color: @brand-primary;
                            display: block;
                        }
                        @media (max-width: @screen-xs) {
                            float: none;
                        } 
                    }
                }
                @media (max-width: @screen-xs) {
                    padding: 0px 15px;
                } 
            }
        }
    }
}
.page-node-type-offers-promotions {
            .wrapper{
            .top {
                position: relative;
                .percentage {
                    position: absolute;
                    z-index: 999;
                    font-size: 70px;
                    top: 0;
                    color: @brand-primary;
                    font-weight: bold;
                    padding: 15px 25px;
                    span{
                        font-size: 24px;
                        text-transform: uppercase;
                        display: block;
                        position: absolute;
                        top: 90px;
                        left: 66px;
                        color:@green;
                    }
                } 
                .field--name-field-image {
                    background: black;
                    img{
                        -webkit-mask-image: linear-gradient(to top, transparent -3%, black 28%);
                        mask-image: linear-gradient(to top, transparent -3%, black 28%);
                        min-width: 100%;
                    }
                }
                .bottom-of-top {
                    position: absolute;
                    bottom: 15px;
                    z-index: 999;
                    padding: 0px 15px;
                    width: 100%;
                    .field--name-node-title {
                        h2{
                            font-size: 28px;
                            color: #fff;
                            font-weight: 600;
                            margin: 0;
                            @media (max-width: @screen-xs) {
                                font-size: 18px;
                                color: @brand-primary;
                                margin-bottom:10px;
                            } 
                        }
                    }
                    @media (max-width: @screen-xs) {
                        position: relative;
                        bottom: 0;
                        padding: 12px 0px;
                    } 
                }

            }
            .bottom {
                clear: both;
                padding: 0px 0px;
                .field--name-field-date {
                    padding-top: 30px;
                    padding-bottom: 20px;
                    .field--item {
                        display: inline-block;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    .field--item:nth-child(1){
                        &:before{
                            content:"OFFER START";
                            color: @brand-primary;
                            display: block;
                        }
                    }
                    .field--item:nth-child(2){
                        float: right;
                        &:before{
                            content:"OFFER END";
                            color: @brand-primary;
                            display: block;
                        }
                        @media (max-width: @screen-xs) {
                            float: none;
                        } 
                    }
                }
                @media (max-width: @screen-xs) {
                    padding: 0px 15px;
                } 
            }
        }
}