header .header-top {
  text-align: left;
}
header .header-top #block-topmenu {
  float: left;
}
header .header-top #block-topmenu ul.menu {
  text-align: left;
}
header .header-top #block-topmenu ul.menu li {
  border-left: 1px solid #FFF;
  border-right: 0px solid #FFF;
}
header .header-top #block-exposedformsearchpage-1-2 {
  padding-left: 0px;
  padding-right: 7px;
  float: left;
}
header .header-top #block-exposedformsearchpage-1-2 form {
  right: auto;
  left: 20px;
}
header .header-top #block-exposedformsearchpage-1-2 form .form-item {
  width: 100%;
}
header .header-top #block-exposedformsearchpage-1-2 form .form-actions {
  position: absolute;
  left: -10px;
  right: auto;
  top: 0;
  font-size: 0;
}
header .header-top #block-exposedformsearchpage-1-2 form .form-actions button {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  border: 0;
  border-radius: 0;
  height: 34px;
}
header .header-top #block-socialicons-2 {
  float: right;
}
header .header-top #block-socialicons-2 .menu.nav li {
  display: inline-block;
}
header .header-top #block-socialicons-2 .menu.nav li:first-child a {
  border-left: none;
}
header .header-top #block-languageswitcher {
  float: right;
}
header .header-top #block-languageswitcher ul.links li a {
  font-family: gothem !important;
}
header .right ul.menu {
  text-align: left;
}
header .right ul.menu li:last-child a {
  padding-left: 0;
}
header .header-bottom .right ul.menu li a,
header .header-bottom .right ul.menu li span {
  font-family: GEDinarTwo-Medium;
  font-size: 14px;
  padding: 15px 18px;
  text-align: right;
}
header .header-bottom .right ul.menu li a .sf-sub-indicator,
header .header-bottom .right ul.menu li span .sf-sub-indicator {
  padding: 0;
  right: auto;
  left: 0;
  top: 46%;
}
header .header-bottom .right ul.menu ul {
  text-align: right;
}
header .header-bottom .right ul.menu li:last-child a {
  padding-right: 15px;
  padding-left: 0;
}
@media (max-width: 992px) {
  header .header-bottom .right ul.menu li:last-child a {
    padding: 15px 18px;
  }
}
@media (max-width: 992px) {
  header .header-bottom .right ul.menu {
    text-align: center !important;
  }
}
body .hero_slider #block-slidertextoverlay {
  text-align: left;
}
body .hero_slider #block-slidertextoverlay p::before {
  content: "";
  background: url(../../../images/phone_white_ar.png) no-repeat;
  margin-right: 0px;
  margin-left: 5px;
  background-size: contain;
}
.page-node-type-branches #block-entityviewcontent-3 .node--view-mode-header-information .bs-region--left h2 {
  text-align: right;
}
.page-node-type-branches #block-entityviewcontent-3 .node--view-mode-header-information .bs-region--right .field.field--name-field-phone-number-1 {
  margin-left: 15px;
  margin-right: 0px;
}
.page-node-type-branches #block-entityviewcontent-3 .bs-region--right {
  text-align: left;
}
.page-node-type-branches #block-entityviewcontent-3 .bs-region--right .field::before {
  background: url(../../../images/phone_white_ar.png) no-repeat;
  background-size: contain;
  margin-right: 0px;
  margin-left: 5px;
}
.page-node-type-branches #block-entityviewcontent-3 .node--view-mode-header-information .bs-region--right .field::before {
  background: url(../../../images/phone_white_ar.png) no-repeat;
  background-size: contain;
  margin-right: 0px;
  margin-left: 5px;
}
.page-node-type-branches .front_content_1 #block-quicktabsbranchestabs .quicktabs-main .webform-submission-book-an-appointment-add-form .webform-telephone--wrapper legend {
  float: right;
}
.page-node-type-branches .front_content_1 #block-quicktabsbranchestabs .quicktabs-main .webform-submission-book-an-appointment-add-form .form-item select,
.page-node-type-branches .front_content_1 #block-quicktabsbranchestabs .quicktabs-main .webform-submission-book-an-appointment-add-form .form-item input {
  text-align: right;
}
header .header-bottom .right ul.menu {
  text-align: left;
}
header .header-bottom .right ul.menu ul {
  text-align: right;
}
/*# sourceMappingURL=header-rtl.theme.css.map */