.footer-wrapper {
  background-color: #f0f0f0;
  float: left;
  width: 100%;
}
.footer-wrapper .footer {
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 45px;
}
.footer-wrapper .footer .footer-top {
  float: left;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 30px;
}
.footer-wrapper .footer .footer-top .block-title,
.footer-wrapper .footer .footer-top h2 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.footer-wrapper .footer .footer-top ul.menu {
  padding: 0;
}
.footer-wrapper .footer .footer-top ul.menu li {
  padding-bottom: 15px;
}
.footer-wrapper .footer .footer-top ul.menu li a {
  padding: 0;
  font-size: 13px;
  color: #646363;
  font-family: gothem;
}
.footer-wrapper .footer .footer-top ul.menu li a::before {
  content: "";
  display: inline-block;
  background: url(../../images/arrow-right.svg) no-repeat;
  background-position: 100%;
  width: 30px;
  height: 10px;
  margin-right: 10px;
}
.footer-wrapper .footer .footer-top ul.menu li a:hover,
.footer-wrapper .footer .footer-top ul.menu li a:focus {
  background: transparent;
}
.footer-wrapper .footer .footer-top .region-footer4 img {
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .footer-wrapper .footer .footer-top .region-footer4 img {
    max-width: 265px;
  }
}
.footer-wrapper .footer .footer-top #block-subscribetoournewsletter {
  margin-top: 22px;
}
.footer-wrapper .footer .footer-top #block-subscribetoournewsletter .block-title {
  font-size: 16px;
  text-transform: uppercase;
}
.footer-wrapper .footer .footer-top #block-subscribetoournewsletter form {
  position: relative;
}
@media (max-width: 992px) {
  .footer-wrapper .footer .footer-top #block-subscribetoournewsletter form {
    max-width: 265px;
  }
}
.footer-wrapper .footer .footer-top #block-subscribetoournewsletter form input {
  border: 1px solid #CCC;
  height: 35px;
  padding: 3px;
}
@media (max-width: 992px) {
  .footer-wrapper .footer .footer-top #block-subscribetoournewsletter form input {
    width: 100%;
  }
}
.footer-wrapper .footer .footer-top #block-subscribetoournewsletter form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 35px;
  width: 40px;
  background: url(../../images/arrow-right.png) #50A155 no-repeat;
  border: 0;
  background-position: 50%;
}
@media (max-width: 768px) {
  .footer-wrapper .footer .footer-top .region-footer1 a {
    display: block;
  }
}
.footer-wrapper .footer .footer-top .region-footer1 img {
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .footer-wrapper .footer .footer-top .col-1,
  .footer-wrapper .footer .footer-top .col-2,
  .footer-wrapper .footer .footer-top .col-3,
  .footer-wrapper .footer .footer-top .col-4 {
    margin-bottom: 20px;
  }
}
.footer-wrapper .footer .footer-bottom {
  clear: both;
  border-top: 1px solid #c2c2c2;
}
.footer-wrapper .footer .footer-bottom ul.nav {
  float: right;
  padding: 10px 0 10px 0;
}
@media (max-width: 768px) {
  .footer-wrapper .footer .footer-bottom ul.nav {
    width: 100%;
  }
}
.footer-wrapper .footer .footer-bottom ul.nav li {
  display: inline-block;
  list-style: none;
}
.footer-wrapper .footer .footer-bottom ul.nav li:first-child a {
  border-right: 1px solid #c2c2c2;
  line-height: 0px;
}
.footer-wrapper .footer .footer-bottom #block-socialicons {
  float: right;
}
@media (max-width: 768px) {
  .footer-wrapper .footer .footer-bottom #block-socialicons {
    text-align: center;
    width: 100%;
  }
}
.footer-wrapper .footer .footer-bottom #block-socialicons .menu.nav li a {
  padding: 7px;
  font-size: 0;
}
.footer-wrapper .footer .footer-bottom #block-socialicons .menu.nav li a::before {
  font-family: FontAwesome !important;
  font-size: 18px;
}
.footer-wrapper .footer .footer-bottom #block-socialicons .menu.nav li:first-child a {
  border-right: none;
}
.footer-wrapper .footer .footer-bottom #block-sgh-footer {
  float: left;
}
@media (max-width: 768px) {
  .footer-wrapper .footer .footer-bottom #block-sgh-footer {
    width: 100%;
    text-align: center;
  }
}
/*# sourceMappingURL=footer.theme.css.map */