header {
  background: #FFF;
}
header .header-top {
  background: #50A155;
  text-align: right;
  padding-top: 10px;
}
header .header-top #block-topmenu {
  display: inline-block;
}
header .header-top #block-topmenu ul.menu {
  text-align: right;
  width: 100%;
}
header .header-top #block-topmenu ul.menu li {
  display: inline-block;
  border-right: 1px solid #FFF;
  line-height: 0px;
}
header .header-top #block-topmenu ul.menu li a {
  color: #FFF;
  font-size: 12px;
  padding: 0 8px;
  line-height: 14px;
}
header .header-top #block-topmenu ul.menu li a:hover,
header .header-top #block-topmenu ul.menu li a:focus {
  background: transparent;
}
header .header-top #block-languageswitcher {
  display: inline-block;
}
header .header-top #block-languageswitcher ul.links {
  list-style: none;
  padding: 0;
}
header .header-top #block-languageswitcher ul.links li a {
  color: #FFF;
  padding: 0 6px;
}
header .header-top #block-languageswitcher ul.links li.is-active {
  display: none;
}
header .header-top #block-searchform {
  display: inline-block;
  padding-left: 7px;
  float: right;
}
header .header-top #block-searchform form {
  max-width: 300px;
  position: absolute;
  right: 35px;
  top: -6px;
  display: none;
}
header .header-top #block-searchform form .form-item {
  margin: 0;
  position: relative;
}
header .header-top #block-searchform form .form-item input {
  width: 100%;
  box-shadow: none;
  border: 0;
}
header .header-top #block-searchform form .form-item button {
  position: absolute;
  right: 0;
  top: 0;
}
header .header-top #block-searchform form .form-item .input-group {
  width: 300px;
}
header .header-top #block-searchform .help-block {
  display: none;
}
header .header-top #block-searchform .trigger-search {
  color: #FFFFFF;
  cursor: pointer;
}
header .header-top #block-socialicons-2 {
  float: left;
}
header .header-top #block-socialicons-2 .menu.nav li {
  display: inline-block;
}
header .header-top #block-socialicons-2 .menu.nav li a {
  padding: 7px;
  font-size: 0;
  color: #FFF;
  padding-top: 0;
}
header .header-top #block-socialicons-2 .menu.nav li a::before {
  font-family: FontAwesome !important;
  font-size: 14px;
}
header .header-top #block-socialicons-2 .menu.nav li a:hover,
header .header-top #block-socialicons-2 .menu.nav li a:focus {
  background: transparent;
}
header .header-top #block-socialicons-2 .menu.nav li:first-child a {
  border-right: none;
}
@media (max-width: 992px) {
  header .header-bottom .left {
    text-align: center;
  }
}
header .header-bottom .left a {
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  header .header-bottom .left a {
    float: none !important;
    display: block;
  }
}
header .header-bottom .left a img {
  height: 40px;
}
@media (max-width: 1200px) {
  header .header-bottom .right {
    padding: 0;
  }
}
header .header-bottom .right ul.menu {
  text-align: right;
  width: 100%;
  padding-top: 22px;
}
@media (max-width: 992px) {
  header .header-bottom .right ul.menu {
    text-align: center;
  }
}
header .header-bottom .right ul.menu li {
  float: none;
  display: inline-block;
}
header .header-bottom .right ul.menu li a {
  font-size: 13px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  transition: color 0.5s ease;
  background: transparent;
}
header .header-bottom .right ul.menu li a:hover,
header .header-bottom .right ul.menu li a:focus {
  color: #50A155;
  background: transparent;
}
@media (max-width: 1200px) {
  header .header-bottom .right ul.menu li a {
    padding: 15px 5px;
  }
}
header .header-bottom .right ul.menu li:last-child a {
  padding-right: 0;
}
body .hero_slider {
  top: 0;
  position: relative;
}
body .hero_slider .node--type-varbase-heroslider-media .hero-slide-content,
body .hero_slider .node--type-branch-slider .hero-slide-content {
  padding: 1.2em;
  z-index: 999;
  width: 100%;
  position: absolute;
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
}
body .hero_slider .node--type-varbase-heroslider-media .hero-slide-content .row,
body .hero_slider .node--type-branch-slider .hero-slide-content .row {
  background: transparent !important;
}
body .hero_slider .node--type-varbase-heroslider-media .hero-slide-content .row .field,
body .hero_slider .node--type-branch-slider .hero-slide-content .row .field {
  padding: 1.2em;
  color: #fff;
}
body .hero_slider .node--type-varbase-heroslider-media .hero-slide-content .row .field--name-node-title,
body .hero_slider .node--type-branch-slider .hero-slide-content .row .field--name-node-title {
  color: #FFF;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: gothem;
}
body .hero_slider .node--type-varbase-heroslider-media .hero-slide-content .row .field--name-node-title h2,
body .hero_slider .node--type-branch-slider .hero-slide-content .row .field--name-node-title h2 {
  font-size: 50px;
}
body .hero_slider .node--type-varbase-heroslider-media .hero-slide-content .row .field--name-field-brief,
body .hero_slider .node--type-branch-slider .hero-slide-content .row .field--name-field-brief {
  text-align: center;
  font-size: 16px;
}
body .hero_slider .node--type-varbase-heroslider-media .hero-slide-content .row .field--name-field-link a,
body .hero_slider .node--type-branch-slider .hero-slide-content .row .field--name-field-link a,
body .hero_slider .node--type-varbase-heroslider-media .hero-slide-content .row .field--name-field-call-to-action a,
body .hero_slider .node--type-branch-slider .hero-slide-content .row .field--name-field-call-to-action a {
  display: block;
  margin: 0 auto;
  float: none;
  width: 190px;
  text-align: center;
  background: #eb5f27d9;
  padding: 13px;
  font-size: 14px;
  color: #FFF;
}
body .hero_slider .node--type-varbase-heroslider-media .hero-slide-content .row .field--name-field-call-to-action a,
body .hero_slider .node--type-branch-slider .hero-slide-content .row .field--name-field-call-to-action a {
  background: #50A155;
}
body .hero_slider .node--type-varbase-heroslider-media img,
body .hero_slider .node--type-branch-slider img {
  width: 100%;
}
body .hero_slider #block-slidertextoverlay {
  position: absolute;
  top: 0;
  width: 100%;
  background: #464646e8;
  padding: 10px;
  text-align: right;
  z-index: 9999;
}
body .hero_slider #block-slidertextoverlay p {
  padding: 0 15px;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
}
body .hero_slider #block-slidertextoverlay p::before {
  content: "";
  background: url(../../images/phone_white.png) no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  background-size: contain;
  margin-right: 5px;
}
.page-node-type-branches #block-entityviewcontent-3 {
  position: absolute;
  top: 0;
  width: 100%;
  background: #464646e8;
  padding: 10px;
  text-align: right;
  z-index: 9999;
}
.page-node-type-branches #block-entityviewcontent-3 .node--view-mode-header-information {
  margin: 0 auto;
}
.page-node-type-branches #block-entityviewcontent-3 .node--view-mode-header-information .bs-region--left h2 {
  padding: 0 15px;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-align: left;
  margin: 0;
  margin-top: 4px;
}
.page-node-type-branches #block-entityviewcontent-3 .node--view-mode-header-information .bs-region--right .field {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-align: right;
}
.page-node-type-branches #block-entityviewcontent-3 .node--view-mode-header-information .bs-region--right .field::before {
  content: "";
  background: url(../../images/phone_white.png) no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  background-size: contain;
  margin-right: 5px;
}
.page-node-type-branches #block-entityviewcontent-3 .node--view-mode-header-information .bs-region--right .field.field--name-field-phone-number-1 {
  margin-right: 15px;
}
.page-node-type-branches #block-slidertextoverlay {
  display: none;
}
.page-node-type-branches #block-entityviewcontent {
  display: none;
}
/*# sourceMappingURL=header.theme.css.map */