.view-offers-promotions .views-row .wrapper {
  background: #F7F7F7;
  padding: 20px;
}
.view-offers-promotions .views-row .wrapper .top {
  position: relative;
}
.view-offers-promotions .views-row .wrapper .top .percentage {
  position: absolute;
  z-index: 999;
  font-size: 50px;
  top: 0;
  color: #2D3A88;
  font-weight: bold;
  padding: 15px 25px;
}
.view-offers-promotions .views-row .wrapper .top .percentage span {
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  position: absolute;
  top: 70px;
  left: 66px;
  color: #50A155;
}
.view-offers-promotions .views-row .wrapper .top .field--name-field-image {
  background: black;
}
.view-offers-promotions .views-row .wrapper .top .field--name-field-image img {
  -webkit-mask-image: linear-gradient(to top, transparent -3%, black 28%);
  mask-image: linear-gradient(to top, transparent -3%, black 28%);
  min-width: 100%;
}
.view-offers-promotions .views-row .wrapper .top .bottom-of-top {
  position: absolute;
  bottom: 15px;
  z-index: 999;
  padding: 0px 15px;
  width: 100%;
}
.view-offers-promotions .views-row .wrapper .top .bottom-of-top .field--name-node-title h2 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  margin: 0;
}
@media (max-width: 480px) {
  .view-offers-promotions .views-row .wrapper .top .bottom-of-top .field--name-node-title h2 {
    font-size: 18px;
    color: #2D3A88;
    margin-bottom: 10px;
  }
}
.view-offers-promotions .views-row .wrapper .top .bottom-of-top .field--name-node-link {
  position: relative;
}
.view-offers-promotions .views-row .wrapper .top .bottom-of-top .field--name-node-link a {
  display: block;
  min-width: 100%;
  background: #50A155;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  height: 30px;
  text-align: center;
  padding: 7px 0px;
}
.view-offers-promotions .views-row .wrapper .top .bottom-of-top .field--name-node-link a:after {
  content: url(../../images/arrow-right.png);
  position: absolute;
  right: 10px;
}
@media (max-width: 480px) {
  .view-offers-promotions .views-row .wrapper .top .bottom-of-top .field--name-node-link {
    max-width: 63%;
  }
}
@media (max-width: 480px) {
  .view-offers-promotions .views-row .wrapper .top .bottom-of-top {
    position: relative;
    bottom: 0;
    padding: 12px 0px;
  }
}
.view-offers-promotions .views-row .wrapper .bottom {
  clear: both;
  padding: 0px 30px;
}
.view-offers-promotions .views-row .wrapper .bottom .field--name-field-date {
  padding-top: 15px;
  padding-bottom: 20px;
}
.view-offers-promotions .views-row .wrapper .bottom .field--name-field-date .field--item {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
.view-offers-promotions .views-row .wrapper .bottom .field--name-field-date .field--item:nth-child(1):before {
  content: "OFFER START";
  color: #2D3A88;
  display: block;
}
.view-offers-promotions .views-row .wrapper .bottom .field--name-field-date .field--item:nth-child(2) {
  float: right;
}
.view-offers-promotions .views-row .wrapper .bottom .field--name-field-date .field--item:nth-child(2):before {
  content: "OFFER END";
  color: #2D3A88;
  display: block;
}
@media (max-width: 480px) {
  .view-offers-promotions .views-row .wrapper .bottom .field--name-field-date .field--item:nth-child(2) {
    float: none;
  }
}
@media (max-width: 480px) {
  .view-offers-promotions .views-row .wrapper .bottom {
    padding: 0px 15px;
  }
}
.page-node-type-offers-promotions h1.page-header {
  display: none;
}
.page-node-type-offers-promotions .wrapper .top {
  position: relative;
}
.page-node-type-offers-promotions .wrapper .top .percentage {
  position: absolute;
  z-index: 999;
  font-size: 70px;
  top: 0;
  color: #2D3A88;
  font-weight: bold;
  padding: 15px 25px;
}
.page-node-type-offers-promotions .wrapper .top .percentage span {
  font-size: 24px;
  text-transform: uppercase;
  display: block;
  position: absolute;
  top: 90px;
  left: 66px;
  color: #50A155;
}
.page-node-type-offers-promotions .wrapper .top .field--name-field-image {
  background: black;
}
.page-node-type-offers-promotions .wrapper .top .field--name-field-image img {
  -webkit-mask-image: linear-gradient(to top, transparent -3%, black 28%);
  mask-image: linear-gradient(to top, transparent -3%, black 28%);
  min-width: 100%;
}
.page-node-type-offers-promotions .wrapper .top .bottom-of-top {
  position: absolute;
  bottom: 15px;
  z-index: 999;
  padding: 0px 30px;
  width: 100%;
}
.page-node-type-offers-promotions .wrapper .top .bottom-of-top .field--name-node-title h2 {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  margin: 0;
}
@media (max-width: 480px) {
  .page-node-type-offers-promotions .wrapper .top .bottom-of-top .field--name-node-title h2 {
    font-size: 18px;
    color: #2D3A88;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .page-node-type-offers-promotions .wrapper .top .bottom-of-top {
    position: relative;
    bottom: 0;
    padding: 12px 0px;
  }
}
.page-node-type-offers-promotions .wrapper .bottom {
  clear: both;
  padding: 0px 0px;
}
.page-node-type-offers-promotions .wrapper .bottom .field--name-field-date {
  padding-top: 30px;
  padding-bottom: 20px;
}
.page-node-type-offers-promotions .wrapper .bottom .field--name-field-date .field--item {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
.page-node-type-offers-promotions .wrapper .bottom .field--name-field-date .field--item:nth-child(1):before {
  content: "OFFER START";
  color: #2D3A88;
  display: block;
}
.page-node-type-offers-promotions .wrapper .bottom .field--name-field-date .field--item:nth-child(2) {
  float: right;
}
.page-node-type-offers-promotions .wrapper .bottom .field--name-field-date .field--item:nth-child(2):before {
  content: "OFFER END";
  color: #2D3A88;
  display: block;
}
@media (max-width: 480px) {
  .page-node-type-offers-promotions .wrapper .bottom .field--name-field-date .field--item:nth-child(2) {
    float: none;
  }
}
@media (max-width: 480px) {
  .page-node-type-offers-promotions .wrapper .bottom {
    padding: 0px 15px;
  }
}
/*# sourceMappingURL=pagestyles.theme.css.map */