.view-offers-promotions .col .wrapper {
  background: #F7F7F7;
  padding: 15px;
}
.view-offers-promotions .col .wrapper .top {
  position: relative;
}
.view-offers-promotions .col .wrapper .top .percentage {
  position: absolute;
  z-index: 999;
  font-size: 50px;
  top: 15px;
  left: 15px;
  color: #2D3A88;
  font-weight: bold;
  line-height: 1;
  font-family: gothem;
}
.view-offers-promotions .col .wrapper .top .percentage span {
  font-family: gothem;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  text-align: left;
  color: #50A155;
}
.view-offers-promotions .col .wrapper .top .field--name-field-image {
  background: black;
}
.view-offers-promotions .col .wrapper .top .field--name-field-image img {
  -webkit-mask-image: linear-gradient(to top, transparent -3%, black 28%);
  mask-image: linear-gradient(to top, transparent -3%, black 28%);
  min-width: 100%;
}
.view-offers-promotions .col .wrapper .top .bottom-of-top {
  position: absolute;
  bottom: 15px;
  z-index: 999;
  padding: 0px 15px;
  width: 100%;
}
.view-offers-promotions .col .wrapper .top .bottom-of-top .field--name-node-title h2 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  margin: 0;
}
@media (max-width: 480px) {
  .view-offers-promotions .col .wrapper .top .bottom-of-top .field--name-node-title h2 {
    font-size: 18px;
    color: #2D3A88;
    margin-bottom: 10px;
  }
}
.view-offers-promotions .col .wrapper .top .bottom-of-top .green-button {
  float: right;
}
.view-offers-promotions .col .bottom {
  clear: both;
  padding: 0px 15px;
}
.view-offers-promotions .col .bottom .field--name-field-date {
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  width: 100%;
}
.view-offers-promotions .col .bottom .field--name-field-date .field--label {
  color: #2D3A88;
  text-transform: uppercase;
  font-size: 12px;
  font-family: gothem;
}
.view-offers-promotions .col .bottom .field--name-field-date .field--item {
  color: #50A155;
  font-size: 12px;
  font-family: gothem;
}
.view-offers-promotions .col .bottom .field--name-field-date .field--item:last-child {
  float: right;
}
.view-offers-promotions .col .bottom .field--name-field-date .field--item:first-child {
  float: left;
}
.page-node-type-offers-promotions h1.page-header {
  display: none;
}
.page-node-type-offers-promotions .wrapper .top {
  position: relative;
}
.page-node-type-offers-promotions .wrapper .top .percentage {
  position: absolute;
  z-index: 999;
  font-size: 70px;
  top: 15px;
  left: 15px;
  color: #2D3A88;
  font-weight: bold;
  line-height: 1;
  font-family: gothem;
}
.page-node-type-offers-promotions .wrapper .top .percentage span {
  font-family: gothem;
  font-size: 24px;
  text-transform: uppercase;
  display: block;
  text-align: left;
  color: #50A155;
}
.page-node-type-offers-promotions .wrapper .top .field--name-field-image {
  background: black;
}
.page-node-type-offers-promotions .wrapper .top .field--name-field-image img {
  -webkit-mask-image: linear-gradient(to top, transparent -3%, black 28%);
  mask-image: linear-gradient(to top, transparent -3%, black 28%);
  min-width: 100%;
}
.page-node-type-offers-promotions .wrapper .top .bottom-of-top {
  position: absolute;
  bottom: 15px;
  z-index: 999;
  padding: 0px 30px;
  width: 100%;
}
.page-node-type-offers-promotions .wrapper .top .bottom-of-top .field--name-node-title h2 {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  margin: 0;
  font-family: gothem;
}
@media (max-width: 480px) {
  .page-node-type-offers-promotions .wrapper .top .bottom-of-top .field--name-node-title h2 {
    font-size: 18px;
    color: #2D3A88;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .page-node-type-offers-promotions .wrapper .top .bottom-of-top {
    position: relative;
    bottom: 0;
    padding: 12px 0px;
  }
}
.page-node-type-offers-promotions .wrapper .bottom {
  clear: both;
  padding: 0px 0px;
}
.page-node-type-offers-promotions .wrapper .bottom .field--name-field-date .field--label {
  color: #2D3A88;
  text-transform: uppercase;
  font-size: 12px;
  font-family: gothem;
}
.page-node-type-offers-promotions .wrapper .bottom .field--name-field-date .field--item {
  color: #50A155;
  font-size: 12px;
  font-family: gothem;
}
.page-node-type-offers-promotions .wrapper .bottom .field--name-field-date .field--item:last-child {
  float: right;
}
/*# sourceMappingURL=pagestyles.theme.css.map */